<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
		<script type="text/javascript" src="js/in.js" autoload="true" core="js/jquery.min.1.10.2.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<style>
			tr th{
				font-size: 14px;
				font-weight: 500; 
			}
			tr td{
				font-size: 12px;
			}
		</style>
	</head>

	<body ng-app='myapp' ng-controller='mainController' ng-init='tr=[0];batch=1'>
		<div style="">
			<button ng-click="addtrs()" class="addtr hidden">add tr</button>
			<table class="table table-bordered " style="border: 0px;z-index: 100;">
				<tbody class="navbar-fixed-top">
					<tr class="warning">
						<th style="width: 22%;min-width: 222px;">Item Qty</th>
						<th style="width: 15%;min-width: 151px;">Matched Parts</th>
						<th style="min-width: 27%;min-width: 275px;">Distributor Results</th>
						<th style="width: 36%;min-width: 363px;"><span>Cart:</span>
							<select style="height: 26px;" ng-change="priceOptionChange(selectpriceoption)" ng-model="selectpriceoption">
								<option value="1">最便宜</option>
								<option value="digikey">digikey</option>
							</select>
							<span style="margin-left: 80px;">Batch :</span>
							<input style="width: 100px;" type="text" ng-model="batch" />
						</th>
					</tr>
					<tr class="active">
						<th style="width: 22%;min-width: 222px;">
							<table style="width: 100%;">
								<tr style="text-align: center;">
									<th width="50px">&nbsp;</th>
									<th width="50px">&nbsp;</th>
									<th width="180px">Item</th>
									<th width="80px">Qty</th>
								</tr>
							</table>
						</th>
						<th style="width: 15%;min-width: 151px;">
							Manfacturer/MPN
						</th>
						<th style="min-width: 27%;min-width: 275px;">
							<table style="width: 100%;height: 100%;">
								<tr style="">
									<th style="width: 25%;">digikey</th>
									<th style="width: 25%;">mouser</th>
									<th style="width: 25%;">element</th>
									<th style="width: 25%;">chip1stop</th>
								</tr>
							</table>
						</th>
						<th style="width: 36%;min-width: 363px;">
							<table style="width: 100%;">
								<tr style="">
									<th style="width: 34%;">Distributor / SKU</th>
									<th style="width: 22%;">Unit Price</th>
									<th style="width: 22%;">Line Total</th>
									<th style="width: 22%;">Batch Total</th>
								</tr>
							</table>
						</th>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered " id="allimfor" style="border: 0px;margin-top: 81px;z-index: 1;">
				<tbody >
					<tr class="maintr" style="height: 70px;line-height: 70px;" ng-controller='pnController' ng-include="'inc/pnController.html'" onload="load()" ng-repeat="entry in tr"></tr>
				</tbody>
				<tfoot>
					<tr>
						<th>合计：{{trlength}} 合计数量:{{allnum}}</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>

</html>