<!doctype html>
<html ng-app="inquiry">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script type="text/javascript" src="../js/angular.min.js"></script>
              <script type="text/javascript" src="../js/inquiry.js"></script>
	

</head>
<body>

<div class="conainer">
	<p>询价</p>
	<form class="form-inline">
		<div class="form-group">
		<label>供应商：富昌电子</label>
		
	     </div>
		<br/>
		
		<button type="submit" class="btn btn-primary">询价</button>
		<p>
	
	  <div ng-controller="InquiryController">

		<table class="table" >
			<tr>
				<td>料号</td>
				<td>数量</td>
				<td>交期</td>
				<td>备注</td>
				<td>caozuo</td>
			</tr>
			
			<tr ng-repeat="product in products">
				<td>
				 <input type="text" ng-model="product.pn" />
				 </td>
				<td>
				  <input type="text" ng-model="product.quantity" />
				</td>
				<td>
				  <input type="text" ng-model="product.delivery" />
				
				</td>
				<td>
				<input type="text" ng-model="product.mark" placeholder="备注" />
			</td>
			 <td><a ng-show="$index!=0" style="color:red;" ng-click="del($index)">移除</a></td>
				
			</tr>
			
		 

		</table>
	 <button ng-click="add()">增加一个</button>
	</div>
		 
	
		
		
		<script>
		
		
		
		</script>
		
		
	</form>
	
</div>
</body>
</html>